/* Search Bar */
.custom-nav {
    min-height: 60px;
    background-color: black;
}


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 30px;
    width: 236px;
    background-color: #515151;
    border-radius: 20px;
    margin-right:15px;
}


.search_input{
    background-color: #515151;
    color:  white;
    border: 0;
    outline: 0;
    padding: 0 15px;
    height: 30px;
    width: 236px;
    border-radius: 20px;
    caret-color: orange;
}

.search_input::placeholder{
    color: whiteSmoke;
    font-size: 13px;
}

.search_input:focus::placeholder{
    color: grey;
    font-size: 14px;
}


.search_input:focus {
    background-color:  #FFFFFF;
    color: #000000;
}