{% extends "base.html" %}

{% load static %}
{% load markdown %}
{% load timestamp_converter %}

{% block more_head %}
    <!-- Required JS for App Edit Page -->
    <script type="text/javascript" src="{% get_static_prefix %}apps/js/jquery.tablednd.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}common/lib/js/jquery.tmpl.min.js"></script>

    <!-- Required CSS for App Edit Page -->
    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_page.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_page_edit.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/base.css" />
{% endblock %}

{% block title %}- Edit {{ app.Bundle_Name }}{% endblock %}

{% block content %}
{# app header #}
<div class="row">
    <div class="col-md-9">
        {# App Name and Icon #}
        <div class="row">
            <div class="col-md-2">
                <img class="appimg" id="app-icon" src="{{ latest_released.logo_url }}" data-toggle="tooltip" title="Click here to choose another logo">
            </div>
            <div class="col-md-10">
                {# App Name and description #}
                <h2 class="app-name-edit" data-toggle="tooltip" title="Your app name cannot be changed">
                    {{ app.Bundle_Name }}
                </h2>
                <input class="form-control" type="text" id="app-description" placeholder="Enter a short description of your app here"
                       value="{% if latest_released.short_title %}{{ latest_released.short_title|escape }}{% endif %}" maxlength="{{ app_description_maxlength }}" />
            </div>
    {# End app header #}
        </div>
    </div>
    <div class="col-md-3">
    {# end app header #}
    </div>
</div>
<div class="row">
    {# tabs #}
    <div class="col-md-9 margin-top">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="app-info-tab" data-toggle="tab" href="#app-info" role="tab" aria-controls="app-info" aria-selected="true">Bundle Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="app-releases-tab" data-toggle="tab" href="#app-releases" role="tab" aria-controls="app-releases" aria-selected="false">Release History</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="app-info" role="tabpanel" aria-labelledby="app-info-tab">
                {# Categories #}
{#                {% if app.categories.all %}#}
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="muted">CATEGORIES</h6>
                        <hr />
                        <div class="col-md-9" id="app-tags-list"></div>
                        <div class="input-group">
                            <input type="text" list="categoryList" id="tag-input" placeholder="Enter the app category" >
                            <datalist  id ="categoryList"></datalist>
                            <span class="input-group-btn"><button type="button"  id="app-tag-add-btn" class="btn btn-light" >
                           <i class="fa fa-plus"></i> Add Category</button></span>
                        </div>
                    </div>
                </div>
{#                {% endif %}#}
                {# End Categories #}

                <br />
                <hr />
                {# Screenshots #}
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="muted">SCREENSHOTS</h6>
                        <div class="col-md-9" id="app-screenshots"></div>
                    </div>
                    <div class="col-md-12">
                        <button id="app-screenshot-add-btn" data-toggle="popover" class="btn btn-light">
                          <i class="fa fa-plus"></i> Add
                        </button>
                        <button id="app-screenshot-delete-btn" class="btn btn-light disabled">
                          <i class="fa fa-trash"></i> Delete
                        </button>
                    </div>
                    <div class="col-md-12"><hr /></div>
                </div>
                {# End Screenshots #}

                <br />

                {# Bundle Description #}
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="muted">Bundle Description</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="app-details" class="col-md-12" rows="15">{% if latest_released.Bundle_Description %}{{ latest_released.Bundle_Description }}{% endif %}</textarea>
                    </div>
                    <div class="col-md-12 margin-top">
                        <h6 class="muted">PREVIEW</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="app-details-preview">
                            <p id="content-markdown"></p>
                        </div>
                    </div>
                </div>
                {# End Bundle Description #}
                <hr />
                {# authors #}
                <div class="row"><div class="col-md-12"><h6 class="muted">AUTHORS</h6></div></div>

                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-bordered table-striped" id="app-authors">
                      <thead>
                        <th>Name</th>
                        <th>Institution (Optional)</th>
                      </thead>
                    </table>
                    <button class="btn btn-light" id="app-author-add" data-toggle="popover"><i class="fa fa-plus"></i> Add Author</button>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="app-releases" role="tabpanel" aria-labelledby="app-releases-tab">
                {% for release in released_apps %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 img-div" style="background-image: url('{{release.logo_url}}');background-size: contain; margin-top: 30px;"></div>
                                <div class="col-md-9">
                                    {# Release version #}
                                    <br />
                                    {% if forloop.first %}
                                        <h5>
                                            Current Version :
                                            <!-- Removed release.version argument href="% url 'release_download' app.name %-->
                                            {{ release.Bundle_Version }}
                                        </h5>
                                    {% else %}
                                        <h5>
                                            Version :
                                            <!-- Removed release.version argument href="% url 'release_download' app.name %-->
                                            {{ release.Bundle_Version }}
                                        </h5>
                                    {% endif %}
                                    <p><strong>Release Date : </strong> {{ release.created_iso|date:"j M, Y" }}</p>
                                    {# End Release version #}

                                    {# Works with #}
                                    <p>
                                        <strong>Works with</strong> IGB
                                        {{ release.works_with }}
                                    </p>
                                    {# End Works with #}
                                    {# Release #}
                                    {% if release.releaseapi_set.count %}
                                    {% with releaseapi=release.releaseapi_set.get %}
                                    <p>
                                        <strong>API</strong>
                                        &nbsp;
                                        <a target="_blank" href="{{ releaseapi.pom_xml_file.url }}">pom.xml</a>
                                        &nbsp;
                                        <a target="_blank" href="{{ releaseapi.javadocs_jar_file.url }}-extracted">Javadocs</a>
                                    </p>
                                    {% endwith %}
                                    {% endif %}

                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                    {% endfor %} {# end looping thru each release #}
		    </div>
        </div>
    </div>
    {# end tabs #}
    {# right panels #}
    <div class="col-md-3 margin-top">
        {# save & cancel buttons #}
        <div id="save-actions">
          <button type="button" id="save-btn" class="btn btn-success btn-md disabled"><i class="fa fa-check"></i> Save</button>
          <button type="button" id="cancel-btn" class="btn btn-danger btn-md"><i class="fa fa-cross"></i> Cancel</button>
        </div>
        {# end save & cancel buttons #}

        {# editors #}
        <div class="box-release-info">
            <h6 class="muted panel-title">Editors</h6>
            <ul class="nav nav-list custom-break" id="editors-list">

            </ul>
            <br />
            <button id="app-editor-add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add</button>
            <button id="app-editor-delete" class="btn btn-primary btn-sm disabled"><i class="fa fa-trash"></i> Delete</button>
        </div>
        {# end editors #}

        {# resources #}
        <div class="box-release-info">
            <h6 class="muted panel-title">Resources</h6>
            <div class="form-group margin-top" id="platform-compatibility">
                <label><i class="fa fa-globe"></i> Works With: </label>
                <input class="form-control" type="text" value="{% if latest_released.platform_compatibility %}{{ latest_released.platform_compatibility }}{% endif %}">
            </div>
            <div class="form-group" id="app-license-text">
                <label><i class="fa fa-file"></i> License URL: </label>
                <input class="form-control" type="text" placeholder="License URL (http://...)" value="{% if latest_released.license_url %}{{ latest_released.license_url }}{% endif %}">
                <input type="checkbox" {% if latest_released.license_confirm %}checked{% endif %}> Require confirmation
            </div>
            <div class="form-group" id="app-website">
                <label><i class="fa fa-home"></i> Website URL:</label>
                <input class="form-control" type="text"  value="{% if latest_released.website_url %}{{ latest_released.website_url }}{% endif %}">
            </div>
            <div class="form-group" id="app-tutorial">
                <label><i class="fa fa-book"></i> Tutorial URL:</label>
                <input class="form-control" type="text" value="{% if latest_released.tutorial_url %}{{ latest_released.tutorial_url }}{% endif %}">
            </div>
            <div class="form-group" id="app-citation" validate_regexp="^\d+$">
                <label><i class="fa fa-heart"></i> Citation:</label>
                <input class="form-control" type="text" placeholder="PubMed ID" value="{% if latest_released.citation %}{{ latest_released.citation }}{% endif %}">
                <span class="help-block">Example: <em>23595664</em></span>
            </div>
            <div class="form-group" id="app-coderepo">
                <label><i class="fa fa-code-fork"></i> Code Repository URL:</label>
                <input class="form-control" type="text" value="{% if latest_released.code_repository_url %}{{ latest_released.code_repository_url }}{% endif %}">
            </div>
            <div class="form-group" id="app-contact">
                <label><i class="fa fa-envelope"></i> Contact Email:</label>
                <input class="form-control" type="text" value="{% if latest_released.contact_email %}{{ latest_released.contact_email }}{% endif %}">
            </div>
        </div>
        {# end resources #}
    </div>
    {# end right panels #}
</div>
    {# file choosers #}
    <div style="visibility: hidden;">
        <input type="file" name="files[]" id="app-icon-file-chooser">
    </div>

    <div style="visibility: hidden;">
        <input type="file" name="files[]" id="app-screenshot-file-chooser" multiple>
    </div>
    {# end file choosers #}

    {# cancel dialog #}
    <div class="modal hide fade in" id="cancel-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Cancel Editing</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel editing this app page? All unsaved changes will be lost.
                </div>
                <div class="modal-footer">
                    <a href="{% url 'app_page' app.Bundle_SymbolicName %}" class="btn btn-danger">Yes, Discard Changes</a>
                    <a href="#" class="btn" data-dismiss="modal">No, Continue Editing</a>
                </div>
            </div>
        </div>
    </div>
    {# end cancel dialog #}

    {# save dialog #}
    <div class="modal hide fade in" role="dialog" id="save-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Saving App Page...</h3>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    {# end save dialog #}

    {# messages popup #}
    <script type="text/html" id="msg-tmpl">
        <div class="alert alert-${ type }">
            <a class="close">&times;</a>
            ${ msg }
        </div>
    </script>
    {# end messages popup #}

    {# tag template #}
    <script type="text/html" id="tag-tmpl">
        <span class="app-tag">
            <span class="app-tag-name">${ tag }</span>
            <span class="app-tag-remove">&times;</span>
        </span>
    </script>
    {# end tag template #}


    {# Handel Tab Keypress in Text Area#}
    <script>
        var textareas = document.getElementsByTagName('textarea');
        var count = textareas.length;
        for(var i=0;i<count;i++){
            textareas[i].onkeydown = function(e){
                if(e.keyCode==9 || e.which==9){
                    e.preventDefault();
                    var s = this.selectionStart;
                    this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
                    this.selectionEnd = s+1;
                }
            }
        }
    </script>

    {# author row template #}
    <script type="text/html" id="author-row-tmpl">
        <tr class="author-row">
            <td><input class="app-author-name form-control" type="text" value="${ name }"></td>
            <td><input class="app-author-institution form-control" type="text" value="${ institution }"></td>
            <td><button type="button" class="btn btn-light"><i class="fa fa-trash"></i> Delete</button></td>
        </tr>
    </script>
    {# end author row template #}

    {# add editor dialog template #}
    <script type="text/html" id="editor-add-popover-html">
        <div id="editor-add-popover">
            <div class="alert alert-danger hide" role="alert">
                Email is not registered.
            </div>
            <div class="form-group error" onSubmit="return false;">
                <b> Email: </b>
                <input type="text" class="form-control">
                <br />
                <button class="btn btn-light disabled">Add</button>
            </div>
        </div>
    </script>
    {# end add editor dialog template #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% get_static_prefix %}apps/js/app_page_edit.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
           var categoryList = document.getElementById('categoryList');
           var options = []
            {% for tag in all_tags %}
                options.push('{{ tag }}')
            {% endfor %}
            options.forEach(item =>{
                let option = document.createElement('option');
                option.value = item;
                categoryList.appendChild(option);
            })
        });
        var add_field = $('#tag-input');
       $('#app-tag-add-btn').click(function() {
            if ($(this).hasClass('disabled'))
                return;
            if(add_field.val().length <= 1){
                Msgs.add_msg('Whoops!Category Name should be more than one character', 'danger', 'category');
                return;
            } else {
                AppPageEdit.add_tag(add_field.val(), true);
                AppPageEdit.tags_modified()
            }

        });
        AppPageEdit.set_max_file_img_size({{ max_file_img_size_b }});
        AppPageEdit.setup_text_fields();
        AppPageEdit.setup_icon_selection({{ max_icon_dim_px }});

     //   AppPageEdit.setup_add_tag_btn();
        {% if app.categories %}
            {% for tag in app.categories.all %}
                AppPageEdit.add_tag('{{ tag.fullname|escapejs}}', false);
            {% endfor %}
        {% endif %}

        AppPageEdit.setup_screenshot_btns({{ thumbnail_height_px }});
        {% if latest_released.screenshot_set.all %}
            {% for screenshot in latest_released.screenshot_set.all %}
                AppPageEdit.add_screenshot('{{ screenshot.thumbnail.url|escapejs }}').attr('backend_id', '{{screenshot.id}}');
            {% endfor %}
        {% endif %}

        AppPageEdit.setup_details();
        AppPageEdit.set_app_page_url("{% url 'app_page' app.Bundle_SymbolicName %}");
        AppPageEdit.set_loading_logo_url('{% get_static_prefix %}common/img/loading_small.gif');

        AppPageEdit.setup_add_editor_btn();
        {% for editor in app.editors.all %}
            AppPageEdit.add_editor('{{ editor.email|escapejs }}', '{{ editor.username|escapejs }}', false);
        {% endfor %}

        AppPageEdit.setup_author_add_btn();

        {% for author in latest_released.ordered_authors %}
            AppPageEdit.add_author('{{ author.name }}', {% if author.institution %}'{{ author.institution }}'{% else %}null{% endif %});
        {% endfor %}

        $(function() {
            AppPageEdit.setup_authors_typeahead();
            AppPageEdit.setup_authors_dnd();
        });

        AppPageEdit.setup_cancel_btn();
        AppPageEdit.setup_save_btn();
    </script>

    {# Supports Markdown in Application Edit Page #}
    <script>
        $(document).ready(function(){
            var content = $('#app-details').val()
            $('#content-markdown').html(marked(content));
        })
        $('#app-details').bind('input propertychange', function() {
            $('#content-markdown').html(marked(this.value));
        });
    </script>
{% endblock %}

{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}apps/js/star_rating.js"></script>
{% endblock %}