{% load static %}
<div class="box-part app_button"
        order_index="{{ order_index }}"
        Bundle_Name="{{ app.Bundle_Name }}"
        downloads="{{ total_download }}"
        created="{{ release.created_iso|date:'j M, H:i:s' }}"
        onClick="window.location='{% url 'app_page' app.Bundle_SymbolicName %}';">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ release.logo_url }}" class="custom-img">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <!-- data-toggle="tooltip" data-title="{{ app.Bundle_Name }}" -->
                    <h5 class="app-button-title">{{ app.Bundle_Name | truncatechars:40 }}</h5>
                </div>
                {% if release.short_title %}
                <div class="col-md-12 desc-spaced">
                    <span class="desc-box small-visible">{{ release.short_title }}</span>
                    <span class="desc-box long-visible">{{ release.short_title }}</span>
                </div>
                {% endif %}
                {% if not release.short_title %}
                    <span class="desc-box small-visible" style="visibility: hidden;">No Description</span>
                    <span class="desc-box long-visible" style="visibility: hidden;">No Description</span>
                {% endif %}
                 <div class="col-md-12">
                    <div class="rating-stars stars" data-placement="bottom">
                        {% if app.stars_percentage == 0 %}
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if app.stars_percentage > 0 and app.stars_percentage < 20 %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if app.stars_percentage >= 20 and app.stars_percentage < 40 %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if app.stars_percentage >= 40 and app.stars_percentage < 60 %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if app.stars_percentage >= 60 and app.stars_percentage < 80 %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if app.stars_percentage >= 80 %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
