{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark custom-nav">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h5 class="my-0 mr-md-auto font-weight-bold"><a href="/" style="color:white; text-decoration:none;"> Integrated Genome Browser Appstore </a></h5>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <!-- Can Add Menu Items Here -->
                </ul>
                <form role="search" action="{% url 'search' %}" method="get">
                        <div class="searchbar">
                            <input class="search_input" type="text" placeholder="Search the Appstore" name="q" aria-label="Search" value="{{ search_query }}">
                        </div>
                </form>
                {# User menu #}
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <a class="text-light user-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                    </a>
                    <div class="dropdown-menu">
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'pending-apps' %}">Pending Apps</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.get_full_path|escape }}"> Sign out</a>
                    </div>
                </div>
                {% else %}
                    <a class="text-light" href="{% url 'login' %}?next={{ request.get_full_path|escape }}">Sign In</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}